.container {
  padding: 10px;
  max-width: 400px;
  margin: 0 auto;
}
.form {
}
.title {
  padding: 5px;
}
.box {
  display: flex;
  justify-content: space-around;
  padding: 5px;
}
.imgBox {
  padding: 5px;
  width: 100px;
  height: 100px;
}
.optionsBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clearOptions {
}

.cartAdd {
}
