.box {
  display: block;
  width: 100px;
  border: 1px solid black;
  padding: 5px;
  margin: 0 5px 5px 0;
}
.Card_title {
  margin: 0 0 20;
}

.img {
  width: 100px;
  height: 100px;
  /* background-color: red; */
}
